<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1010364828673-8v4bp0cr6dtatbmqi0drm0qf1e9nil5n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010364828673-8v4bp0cr6dtatbmqi0drm0qf1e9nil5n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1010364828673-k9lojka7iuma77g152hhceoem2216vuo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA_Lc37n95t9w4gaGcvqaRTF4OzO1q1WQI</string>
	<key>GCM_SENDER_ID</key>
	<string>1010364828673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zyncro</string>
	<key>PROJECT_ID</key>
	<string>zyncro-f5fdd</string>
	<key>STORAGE_BUCKET</key>
	<string>zyncro-f5fdd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010364828673:ios:a17e6a988445c784de8400</string>
</dict>
</plist>